
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
@import "homepage";

/*--------------------------------------------------------------
## Homepage
--------------------------------------------------------------*/
@import "homepage";

/*--------------------------------------------------------------
## Blocks - Gutenberg
--------------------------------------------------------------*/
@import "blocks/blocks";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## WP Core Styles
--------------------------------------------------------------*/
@import "wpcore";


/*--------------------------------------------------------------
## Responsive Media Queries
--------------------------------------------------------------*/
@import "responsive";



.site-content {
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}
